<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2014 Denzil Gideon M. Daulo

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. -->
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
<!-- classPathEntry location should be the actual path of your database driver(mysql,db2,mariadb) jar files -->
 <classPathEntry location="C:\Users\dustin\.m2\repository\org\jumpmind\symmetric\jdbc\mariadb-java-client\1.1.1\mariadb-java-client-1.1.1.jar" /> 
<!-- SET UP DBTables Here -->
  <context id="MariaDBTables" targetRuntime="MyBatis3">
    <jdbcConnection driverClass='org.mariadb.jdbc.Driver'
        connectionURL='jdbc:mysql://localhost:3306/chargendb'
        userId='root'
        password='password'>
    </jdbcConnection>
    <!-- SET UP Mappers, Models and Examples Generators Here -->
    <!-- targetPackage:you may change this. targetProject should be the actual path (e.g.<root/drive path><project name><target src folder>)-->
 	<javaModelGenerator targetPackage="com.zil.samwise.demo.model" targetProject="D:\Zil Docs\projects\smws\smws\samwise\src\main\java">
      <property name="enableSubPackages" value="false" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>
    <sqlMapGenerator targetPackage="com.zil.samwise.demo.mapper.xml"  targetProject="D:\Zil Docs\projects\smws\smws\samwise\src\main\resources\mappers">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>
    <javaClientGenerator type="XMLMAPPER" targetPackage="com.zil.samwise.demo.mapper"  targetProject="D:\Zil Docs\projects\smws\smws\samwise\src\main\java">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

<!-- Add Tables Here -->
<!-- REMINDER: IF THE TABLE IS ALREADY GENERATED PLEASE MAKE SURE TO COMMENT THE GENERATED TABLES 
			   TO AVOID OVERRIDDING OF EXISTING OBJECTS UNLESS YOU MODIFIED THE TABLE'S PROPERTIES! -->
    <table schema="chargendb" tableName="character" domainObjectName="Character" >
       <property name="runtimeTableName" value="`character`"/>
       <property name="useActualColumnNames" value="true"/>
      <generatedKey column="id" sqlStatement="MySQL" identity="true" />
    </table>
  </context>
</generatorConfiguration>